@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap')
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
@media only screen and (min-width: 992px) {
  
   
/* header section */
.heading{
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.header-image{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.header-image img{
    width: 70px;
    margin: 3px 140px;
}
.header-image ul{
    margin-top: 29px;
    margin-right: 200px;
}
.header-image ul li{
    display: inline;
    list-style: none;
    text-decoration: none;
    margin-left: 30px;
}
.header-image li a{
    color: #474747;

}
a{
    text-decoration: none;
    color: blue;
}
.below-header{
    display: flex;
}
.item1{
    width: 50%;
    padding: 50px 100px 0px 140px;
}
.item1 h1{
    font-size: 64px;
    font-family: Helvetica;
    color: rgb(0, 14,66);
    line-height: 70.4px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
}
.item1 p{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #474747;
    line-height: 28.8px;
    font-weight: 500;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    margin-bottom: 30px;
}
.item1 button{
    padding: 10px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 32, 138);
    color: rgb(255, 255, 255);
    text-decoration: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    width: 135px;
}
.item2{
    /* width: 50%; */
}
.item2 img{
    width: 75%;
}
}